@import url("https://fonts.googleapis.com/css2?family=Neonderthaw&family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #827397;
}
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #e9d5ca;
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  padding: 1%;
}
.nav .title{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
}
.nav .title .logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.nav .title .logo img{
  width: 30px;
}
.nav .menu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  animation: position;
  animation-duration: 1s;
}
.nav .menu ul li {
  list-style: none;
  margin-left: 70px;
}
.nav .menu ul li a {
  text-decoration: none;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav .menu ul li a span {
  font-size: 20px;
  font-weight: 400;
  visibility: hidden;
  animation: slide;
  animation-duration: 1s;
}
.nav .menu ul li a:hover > span {
  visibility: visible;
  animation: dropup;
  animation-duration: 1s;
}
.nav .menu ul li a#active span {
  visibility: visible;
  animation: dropup;
  animation-duration: 1s; 
}
.nav .bar {
  display: none;
}
.nav .fa {
  font-size: 30px;
}
.container {
  padding-top: 10%;
  padding-bottom: 2%;
}
.container table {
  width: 85%;
  border-collapse: collapse;
}
.container table th {
  background-color: #bface0;
  font-size: 24px;
  font-weight: 700;
  padding: 2%;
  width: 20%;
  border: 2px solid #ebc7e8;
}
.container table td {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: whitesmoke;
  border: 2px solid #ebc7e8;
}
.container table td img {
  width: 150px;
  height: 200px;
  margin: 2%;
}

@media screen and (max-width: 1015px) {
  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .nav .title{
    justify-content: space-between;
    width: 90%;
    margin-top: 0px;
  }
  .nav .bar {
    display: block;
  }
  .nav .menu {
    display: none;
  }
  .nav .menu.res {
    display: block;
    animation: dropup;
    animation-duration: 1s;
  }
  .nav .menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .nav .menu ul li {
    margin-left: 0%;
    margin-top: 20px;
  }
  .nav .menu.menu.res ul a span {
    animation: slide;
    animation-duration: 1s;
  }
  .container table {
    width: 95%;
  }
}
@media screen and (max-width: 890px) {
  .container table td img {
    width: 100px;
    height: 150px;
  }
}
@media screen and (max-width: 820px) {
  .container {
    overflow-x: scroll;
    padding-top: 20%;
  }
  .container table {
    width: 820px;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@keyframes dropup {
  0% {
    opacity: 0;
    transform: translate(0, -200px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@-webkit-keyframes dropup {
  0% {
    opacity: 0;
    transform: translate(0, -200px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translate(-100px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    transform: translate(-100px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
