@import url("https://fonts.googleapis.com/css2?family=Neonderthaw&family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #25316d;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: gray;
}
::-webkit-scrollbar-track {
  background: #e9d5ca;
}
.form-gap {
  padding-top: 70px;
}
.panel-body {
  background-color: #e1ceb5;
}
.btn .btn-lg {
  background-color: #083aa9;
}
