@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Neonderthaw&family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  transition: ease 0.2s;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
body {
  background-color: #3f72af;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: gray;
}
::-webkit-scrollbar-track {
  background: #e9d5ca;
}

.main {
  padding-top: 10%;
  font-size: 14px;
}

.container {
  background: #1f4690;
  color: black;
  width: 100%;
  max-width: 450px;
  padding: 40px;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.heading {
  font-size: 18px;
  text-align: center;
}

.para {
  font-weight: 600;
  text-align: center;
}

.feedback-level {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.level {
  background: #1f4690;
  padding: 13px;
  border-radius: 7px;
  border: solid 0.5px #1f4690;
  cursor: pointer;
}
.level:hover {
  box-shadow: #1363df 0 2px 5px;
}
.level:hover i {
  color: #1363df;
}
.level i {
  font-size: 40px;
}

.feedback-msg textarea {
  margin-top: 5px;
  padding: 13px;
  border-radius: 7px;
  outline: none;
  font-size: 14px;
  color: #112d4e;
  font-weight: 500;
  letter-spacing: 1px;
  width: 100%;
  height: 80px;
  resize: none;
  background-color: #dbe2ef;
}

.agreement .checkbox {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 5px;
}
.agreement input {
  accent-color: #dbe2ef;
}
.agreement a {
  color: #dbe2ef;
  font-size: 12px;
  font-weight: 600;
}
.agreement label {
  font-size: 12px;
  font-weight: 600;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: end;
}
.buttons a {
  background: #dbe2ef;
  color: #3f72af;
  width: 80px;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
}
.buttons a:hover {
  opacity: 0.9;
}
.buttons a:nth-child(1) {
  background: #3f72af;
  color: #dbe2ef;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background-color: #3f72af;
}
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f7f7;
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  padding: 1%;
}
.nav .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
}
.nav .title .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.nav .title .logo img {
  width: 30px;
}

.nav .menu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  animation: position;
  animation-duration: 1s;
}
.nav .menu ul li {
  list-style: none;
  margin-left: 70px;
}
.nav .menu ul li a {
  text-decoration: none;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav .menu ul li a span {
  font-size: 20px;
  font-weight: 400;
  visibility: hidden;
  animation: slide;
  animation-duration: 1s;
}
.nav .menu ul li a:hover > span {
  visibility: visible;
  animation: dropup;
  animation-duration: 1s;
}
.nav .menu ul li a#active span {
  visibility: visible;
  animation: dropup;
  animation-duration: 1s;
}
.nav .bar {
  display: none;
}
.nav .fa {
  font-size: 30px;
}
@media screen and (max-width: 1015px) {
  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .nav .title {
    justify-content: space-between;
    width: 90%;
    margin-top: 0px;
  }
  .nav .bar {
    display: block;
  }
  .nav .menu {
    display: none;
  }
  .nav .menu.res {
    display: block;
    animation: dropup;
    animation-duration: 1s;
  }
  .nav .menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .nav .menu ul li {
    margin-left: 0%;
    margin-top: 20px;
  }
  .nav .menu.menu.res ul a span {
    animation: slide;
    animation-duration: 1s;
  }
}

@keyframes dropup {
  0% {
    opacity: 0;
    transform: translate(0, -200px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@-webkit-keyframes dropup {
  0% {
    opacity: 0;
    transform: translate(0, -200px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translate(-100px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    transform: translate(-100px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
